---
layout: default
title: Solar Theme
---
<div class="row">
    <div class="large-8 columns">
{% for post in paginator.posts %}

	<article class="post">

		{% if post.external-url %}
			<h2>
				<a href="{{ post.external-url }}">{{ post.title }}</a>
				<a class="anchor" href="{{ post.url }}"><i class="icon-anchor"></i></a>
			</h2>
		{% else %}
			<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
		{% endif %}

		<div class="post-content">{{ post.content }}</div>

	</article>

{% endfor %}



{% if paginator.total_pages > 1 %}
	<div class="postnavigation">

		{% if paginator.previous_page %}
			{% if paginator.page == 2 %}
				<a class="prev left" href="/">&larr; Newer</a>
			{% else %}
				<a class="prev left" href="/page{{paginator.previous_page}}/">&larr; Newer</a>
			{% endif %}
		{% else %}
			<span class="nope left">&larr; Newer</span>
		{% endif %}

		<span class="pages">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>

		{% if paginator.next_page %}
			<a class="next right" href="/page{{paginator.next_page}}/">Older &rarr;</a>
		{% else %}
			<span class="nope right">Older &rarr;</span>
		{% endif %}

	</div>
{% endif %}
</div>
<div class="large-4 columns right">
    <div class="component">
        <h2>Bio</h2>
        <div class="component-content">
            <p>UX architect, father, husband, gardener, 40-something living and working in Chicago, IL USA.</p>
        </div>
    </div>
</div>

</div>
